.opacity(@alpha) {
  opacity: @alpha;
  @filter_opacity: @alpha * 100;
  filter: ~"alpha(@filter_opacity)";
}

body{
  overflow-y:scroll;
  font-size: 13px;
}

h1, h2, h3 {
  font-family: "Microsoft Yahei";
}



#body{
  h3 {
    font-family: "microsoft yahei";
    color:  #444;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
  }
}

.navbar {
  .container {
    text-align: center;
  }
}

#project-add-form{
  margin-bottom: 5px;
  padding-top: 5px;
}

#projects {
  .project {
    .path {
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        padding-left: 20px;
        display: block;
        color: #0088cc;
        word-break: break-all;
      }
    }

    .op {
      width: 20px;
      a {
        display: none;
      }
    }

    &.selected {
      .path a {
        color: #444;
        background-position: left;
        background-repeat: no-repeat;
        background-image: url('/_/img/bullet_green.png');
      }
    }

    &:hover{
      .op{
        a {
          display: block;
          .opacity(0.3);
          &:hover {
            .opacity(1);
          }
        }
      }
    }
  }
}

.icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("/_/img/file-icons/unknown.png");

  &.DIR{
    background-image: url("/_/img/file-icons/DIR.png");
  }
  &.html, &.htm {
    background-image: url("/_/img/file-icons/html.png");
  }
  &.js, &.vbs {
    background-image: url("/_/img/file-icons/js.png");
  }
  &.css, &.less {
    background-image: url("/_/img/file-icons/css.png");
  }
  &.php {
    background-image: url("/_/img/file-icons/php.png");
  }
  &.as3, *.fla, *.swf {
    background-image: url("/_/img/file-icons/flash.png");
  }
}


#settings-button{
  margin-top: 16px;
}

#hosts {
  margin-bottom: 10px;

  span {
    float:left;
    font-size: 12px;
    margin-top: 5px;
  }

  select {
    margin: 0px;
    width: 150px;
  }
}

#project {
  padding-top: 13px;

  #target-host {
    float: right;
    font-weight: normal;
    margin-top: 8px;
    padding: 3px 10px;
  }

  #pane-settings {

    form {
      font-size: 12px;
      margin-bottom: 0px;

      .clear-target-host {
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
        margin-left: 10px;
      }
    }
  }

  #pane-files {
    ul.breadcrumb {
      list-style: none;
      margin-bottom: 5px;
    }

    #file-list {
      tbody{
        tr {
          td.file {
            a {
              padding-left: 20px;
            }
          }

          td.op {
            text-align: right;

            a {
              visibility: hidden;
              margin-left: 8px;
              .opacity(0.3);
              text-decoration: none;

              &:hover{
                .opacity(1);
              }
            }
          }
        }

        tr:hover {
          td.op {
            a{
              visibility: visible;

              &.unmute{
                display:none;
              }
            }
          }
        }

        tr.mute td.file a{
          color: #444;
          .opacity(0.3);
        }

        tr.mute:hover td.op a{
          &.mute {
            display: none;
          }
          &.unmute {
            display: inline;
          }
        }
      }
    }
  }
}


#qrcode-modal {

  span.host {
    float:left;
    line-height: 30px;
    font-size: 12px;
    padding-right: 5px;
  }

  select {
    width: 150px;
    font-size: 13px;
  }

  #qrcode {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
