[ng-cloak] {
  display: none;
}
body {
  overflow-y: scroll;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Microsoft Yahei";
}
.projects-box form.add-project {
  margin-bottom: 20px;
}
.projects-box .list-group .list-group-item {
  overflow-x: hidden;
  position: relative;
}
.projects-box .list-group .list-group-item i {
  position: absolute;
  right: 7px;
  top: 7px;
  display: none;
}
.projects-box .list-group .list-group-item:hover i {
  display: inline-block;
}
.files-box td.file {
  cursor: pointer;
  color: #428BCA;
}
.files-box td.file .icon {
  display: inline-block;
  width: 16px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("/_/img/file-icons/unknown.png");
}
.files-box td.file.DIR .icon {
  background-image: url("/_/img/file-icons/DIR.png");
}
.files-box td.file.html .icon,
.files-box td.file.htm .icon {
  background-image: url("/_/img/file-icons/html.png");
}
.files-box td.file.js .icon,
.files-box td.file.vbs .icon {
  background-image: url("/_/img/file-icons/js.png");
}
.files-box td.file.css .icon,
.files-box td.file.less .icon {
  background-image: url("/_/img/file-icons/css.png");
}
.files-box td.file.php .icon {
  background-image: url("/_/img/file-icons/php.png");
}
.files-box td.file.as3 .icon,
.files-box td.file.fla .icon,
.files-box td.file.swf .icon {
  background-image: url("/_/img/file-icons/flash.png");
}
.files-box td.file.png .icon,
.files-box td.file.jpg .icon,
.files-box td.file.jpeg .icon,
.files-box td.file.gif .icon,
.files-box td.file.ico .icon {
  background-image: url("/_/img/file-icons/img.png");
}
.settings-box {
  margin-top: 10px;
}
.settings-box .type-setting .btn-group {
  margin-bottom: 10px;
}
.settings-box .type-setting .btn-group i {
  display: none;
  margin-right: 5px;
}
.settings-box .type-setting .btn-group .active i {
  display: inline-block;
}
.settings-box .type-setting .alert {
  padding: 5px 10px;
  margin: 5px;
}
.settings-box .type-setting .help-block {
  height: 20px;
}
