body {
  overflow-y: scroll;
  font-size: 13px;
}
h1,
h2,
h3 {
  font-family: "Microsoft Yahei";
}
#body h3 {
  font-family: "microsoft yahei";
  color: #444;
  border-bottom: 1px solid #ddd;
  line-height: 40px;
}
.navbar .container {
  text-align: center;
}
#project-add-form {
  margin-bottom: 5px;
  padding-top: 5px;
}
#projects .project .path {
  overflow: hidden;
  text-overflow: ellipsis;
}
#projects .project .path a {
  padding-left: 20px;
  display: block;
  color: #0088cc;
  word-break: break-all;
}
#projects .project .op {
  width: 20px;
}
#projects .project .op a {
  display: none;
}
#projects .project.selected .path a {
  color: #444;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url('/_/img/bullet_green.png');
}
#projects .project:hover .op a {
  display: block;
  opacity: 0.3;
  filter: alpha(@filter_opacity);
}
#projects .project:hover .op a:hover {
  opacity: 1;
  filter: alpha(@filter_opacity);
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("/_/img/file-icons/unknown.png");
}
.icon.DIR {
  background-image: url("/_/img/file-icons/DIR.png");
}
.icon.html,
.icon.htm {
  background-image: url("/_/img/file-icons/html.png");
}
.icon.js,
.icon.vbs {
  background-image: url("/_/img/file-icons/js.png");
}
.icon.css,
.icon.less {
  background-image: url("/_/img/file-icons/css.png");
}
.icon.php {
  background-image: url("/_/img/file-icons/php.png");
}
.icon.as3,
.icon *.fla,
.icon *.swf {
  background-image: url("/_/img/file-icons/flash.png");
}
#settings-button {
  margin-top: 16px;
}
#hosts {
  margin-bottom: 10px;
}
#hosts span {
  float: left;
  font-size: 12px;
  margin-top: 5px;
}
#hosts select {
  margin: 0px;
  width: 150px;
}
#project {
  padding-top: 13px;
}
#project #target-host {
  float: right;
  font-weight: normal;
  margin-top: 8px;
  padding: 3px 10px;
}
#project #pane-settings .clear-target-host {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  margin-left: 10px;
}
#project #pane-settings fieldset {
  font-size: 12px;
  margin-bottom: 0px;
}
#project #pane-settings fieldset p.muted i {
  display: none;
}
#project #pane-settings fieldset p.text-success i {
  display: inline-block;
}
#project #pane-settings #pane-settings-refresh .input-prepend.input-append {
  margin-left: 3px;
}
#project #pane-files ul.breadcrumb {
  list-style: none;
  margin-bottom: 5px;
}
#project #pane-files #file-list tbody tr td.file a {
  padding-left: 20px;
}
#project #pane-files #file-list tbody tr td.op {
  text-align: right;
}
#project #pane-files #file-list tbody tr td.op a {
  visibility: hidden;
  margin-left: 8px;
  opacity: 0.3;
  filter: alpha(@filter_opacity);
  text-decoration: none;
}
#project #pane-files #file-list tbody tr td.op a:hover {
  opacity: 1;
  filter: alpha(@filter_opacity);
}
#project #pane-files #file-list tbody tr:hover td.op a {
  visibility: visible;
}
#project #pane-files #file-list tbody tr:hover td.op a.unmute {
  display: none;
}
#project #pane-files #file-list tbody tr.mute td.file a {
  color: #444;
  opacity: 0.3;
  filter: alpha(@filter_opacity);
}
#project #pane-files #file-list tbody tr.mute:hover td.op a.mute {
  display: none;
}
#project #pane-files #file-list tbody tr.mute:hover td.op a.unmute {
  display: inline;
}
#qrcode-modal span.host {
  float: left;
  line-height: 30px;
  font-size: 12px;
  padding-right: 5px;
}
#qrcode-modal select {
  width: 150px;
  font-size: 13px;
}
#qrcode-modal #qrcode {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}
